body{
    margin: 0 px;
}
/*  Body heaader Rules */

#Border_Header{
    height:70vh;
    opacity: 2;
    background-image: url("myresume.github.io
/laptop.jpg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
} 

/* Horizontal List */

.Horizontal-list li{
    display:inline-block ;
    margin: 2em 3em 3em 0px;
}

.Horizontal-list{
    list-style: none;
    padding-left: 0px; 
    margin: 0px; 
}
.Horizontal-list li a{
   color: white;
   font: size 1rem;;
   font: bold;
   text-decoration: none;
   
}
.nav-menu li a{
    transition: color 0.5s,border-bottom 4s;
}
.nav-menu li a:hover{
    color:rgb(75, 75, 75);
    border-bottom: 1px solid rgb(77, 77, 77);
 }
.text-center{
    text-align: center;
}
.name{
    color: White;
    margin: 100px 262px 35px 520px;
}
#name-social-container{
    margin-top: 7vh ;
}
#my-name{
    font-family: serif;
    color: white;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
}
#my-name:hover{
    color: black;
}
.icons li a i{
    color: black;
    padding: 5px;
    font-size: 1rem;
    border-radius: 50%;

}
.icons li a i:hover{
    color:white;
    box-shadow: 0px 0px 5px 3px rgba(230, 190, 130, 0.5);
}

/* For Section  */

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
section:nth-child(2n){
   background-color:rgba(246, 216, 110, 0.295);
}
section:nth-child(2n+1){
    background-color: white;
}
.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}
.section-heading span {
   font-size: 45px;
   display: inline-block;
   color: blue;
   padding-top: 10px;
   margin-right: 0.6rem;
   font-weight: 50;
}




/* Profile */
#About{
    height: auto;
    width: 100%;
    position: relative;
}
#my-image{
    height: 10rem;
    width: 10rem;
    margin: auto;
    margin-top: -100px;

}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px rgb(253, 252, 253);
}
#About p{
   color: black;
   font-size: 2rem;
   font: sans-serif;
   font-weight: 80;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   letter-spacing: 0.1rem;
   margin:15px 230px 55px 170px;
   text-transform: capitalize;
}

/* Margin for classes */
.mb75px{
    margin-bottom: 55px;
}
.text-highlight{
    color: #2857a4;
    font-weight: 600;
}
/*     Skills Related */

.Skills-display{
    width: 70%;
    /* height: 200px;
    border: 2px solid black; */
    display: flex;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
}
/* Skill progress contain */
.Skills-progress{
    width: 10rem;
    height: 1.7rem;
    background-color: lightgrey;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 25px;
    overflow: hidden;
}
.Skills-progress > div{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.Skill-name span{
    color:white;
    font-size: 1.7rem;
    margin-left: 5px;
    font-weight: 400;
    font-style: monospace;
    vertical-align: middle;
}
/* For Percetage Uses And Color*/

.level-percentage-new{
    width: 90%;
    height: inherit;
}
.color_red{
    background-color: red;
}
.level-percentage_javascript{
    width: 85%;
    height: inherit;
}
.color_yel{
    background-color: rgb(102, 5, 5);
}
.level-percentage_html{
    width: 90%;
    height: inherit;
}
.color_purp{
    background-color: purple;
}
.level-percentage_css{
    width: 75%;
    height: inherit;
}
.color_css{
    background-color: rgb(3, 66, 30);
}
.level-percentage{
    width: 70%;
    height: inherit;
   
}
.color_blue{
    background-color: #2857a4;
   
}
.level-percentage_mongo{
    width: 55%;
    height: inherit;
}
.color_mongo{
    background-color: teal;
}
#Contact{
    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);
    color: white;
    padding-bottom: 40px;
}
.section-heading-about span{
    font-size: 45px;
    display: inline-block;
    color: white;
    padding-top: 10px;
    margin-left: 0.2rem;
    margin-right: 0.6rem;
    font-weight: 50;
}

/* Contact Form */

#Contact h1,
#Contact h1 span{
    color: white;
}
#contact-form{
    margin-left: 40%;
}
#contact_Container{
    display: flex;
    margin-bottom: 2rem;
}
#contact-form-container{
    width: 60%;
    margin-right: 300px;
}
.my-details-container{
    width: 40%;
    margin-left: 8%;
}
.my-details-container h3{
    color: white;
    font-weight: 600;
    font-size: 1.6rem;
    margin-left: 10px;
}
.my-details-container p{
    color: lightcyan;
    font-size: 1.4rem;
}
#my-details-info-container{
    margin-bottom: 20px;
    margin-left: 10px;
    color: lightcyan;
    font-size: 1rem;
}
#my-details-info-container span{
    margin-left: 0.8rem ;
}
#my-details-info-container i{
    color: lightgray;
}
#contact-form input,textarea{
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: #d9dcdd;
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}
#contact-form button[type="submit"]{
    background: transparent;
    font-size: 1rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}
#contact-form button:hover {
    background: white;
    color: #0a316ee0;
}

/* Social Icons */
.social-icons li a i {
    padding: 10px;
    font-size: 1rem;
    border-radius: 50%;
}

.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
/* Portfilio */

#portfolio-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    margin-bottom: 20px;
    justify-content: space-around;
}

.portfolio-image-container {
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.portfolio-image-container img {
    width: 100%;
    height: 100%;
}

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}

.portfolio-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}
